body{
    font-family: 'Roboto Slab', serif;
    background-color:  #E5E5E5;
}
.It-bg-light{
  background-color: #fcfcfc;
}
.text-liner{
    color: rgba(112, 112, 247, 0.767);
}
.item-color{
    background-color: rgba(203, 240, 252, 0.945);
}
.footer-item{
    background-color: rgba(0, 0, 0, 0.2);
}